body{
    padding:0;
    margin:0;
}
.job{
    font-weight: bold
}
.profile-img{
    display:flex;
    justify-content:center;
    border-radius:50%;
}
.main-navigation{
    display:flex;
    justify-content:flex-end;
    background-color:#0e0091;
}
ul#navigation{
    list-style:none;
    display: flex;
    font-weight:bold;
    flex-direction:row;
    color:white;
    font-size: 16px;
}
ul#navigation li{
    padding-right:2em;
}
a{
    text-decoration:none;
}